<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ff4797f0e6.js" crossorigin="anonymous"></script>
    <title>Bienvenidxs a Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="up-section">
            <div class="up-section__logo">
                <a href="/">
                    <img src="img/logo-mercado-liebre.svg" alt="Logotipo Mercado Liebre">
                </a>
            </div>
            <form action="#" method="POST" class="up-section__search">
                <input type="text" name="input" id="input" placeholder="Buscar productos, marcas">
                <button type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
      
        <p class="up-section__txt">
            <i class="fa-solid fa-hand-holding-dollar" id="hand"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <section class="down-section">
            <nav class="down-section__nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
        <section class="banner">
            <img src="/img/img-home-banner.jpg" alt="Banner">
        </section>
    </header>

    <main>
        <section class="main-section">
            <h2>Basado en tu última visita</h2>
            <div class="articles-list">
                <article class="art">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="disc">40% off</p>
                        <h3 class="descr">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="art">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="disc">20% off</p>
                        <h3 class="descr">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="art">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="disc">10% off</p>
                        <h3 class="descr">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="art">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="disc">5% off</p>
                        <h3 class="descr">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers-section">
            <h2>Sección de Ofertas</h2>
            <div class="articles-list">
                <article class="art">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="disc">40% off</p>
                        <h3 class="descr">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="art">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="disc">20% off</p>
                        <h3 class="descr">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="art">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="disc">10% off</p>
                        <h3 class="descr">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="art art__dif">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <div class="art__box">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="disc">5% off</p>
                        <h3 class="descr">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>  
        </section>
    </main>

    <footer>
        <section class="footer">
        <article class="footer-info">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2> 
        <p>Con MercadoLiebreCash, tenés cuotas sin <br>
            interés con tarjeta o efectivo en puntos de <br>
            pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="footer-info">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde los $2.500</h2>
        <p>Sólo por estar registrad@ en MercadoLiebre <br>
            tenés envíos gratis en miles de productos. Es
            <br> un beneficio de Mercado Puntos.</p>
        </article>
     
        <article class="footer-info">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, <br>
            no hay nada que no puedas hacer, porque <br>
            estás siempre protegid@.</p>
        </article>
        </section>
        <section class="footer-copy">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>